*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html, body{
    height: 100%;
    width: 100%;
}

.productForm {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    z-index: 1000;
    width: 60vh;
    max-width: 90%;
    text-align: center;
}

.productForm h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 1.5rem;
    font-weight: 600;
}

.productForm label {
    display: block;
    text-align: left;
    font-size: 1rem;
    color: #555;
    margin-bottom: 5px;
}

.productForm input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: 15px;
    transition: all 0.3s;
}

.productForm input:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.3);
}

.productForm button {
    background-color: #6aa177;
    color: #FFF;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    transition: all 1s;
}

.productForm button:hover {
    background-color: #237f37;
}

.add {
    position: fixed; 
    bottom: 20px;    
    right: 20px;   
    background-color: #4CAF50; 
    color: white;    
    padding: 15px 30px; 
    border-radius: 30px; /* Rounded corners */
    font-size: 16px;  /* Text size */
    border: none;     /* Remove border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* A soft shadow */
    cursor: pointer; /* Change cursor to a pointer */
    transition: background-color 0.3s, transform 0.3s; /* Smooth transition on hover */
  }
  
  .add:hover {
    background-color: #45a049; /* Darken green on hover */
    transform: scale(1.05); /* Slightly scale the button when hovered */
  }
  
  .add:active {
    background-color: #388e3c; /* Even darker green when clicked */
    transform: scale(0.98); /* Slight shrink effect when clicked */
  }
  